:root {
    --my_primary_color: #b11313;
    --my_secondary_color: #f1c530;
    --my_main_color: #114c92;
}

body {
    background-color: var(--my_primary_color);
    font-family: 'Montserrat', sans-serif;
}


/*ajout font far from homecoming*/

@font-face {
    font-family: 'Far From Homecoming';
    src: url('../fonts/FarFromHomecomingRegular.eot');
    src: url('../fonts/FarFromHomecomingRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/FarFromHomecomingRegular.woff2') format('woff2'), url('../fonts/FarFromHomecomingRegular.woff') format('woff'), url('../fonts/FarFromHomecomingRegular.ttf') format('truetype'), url('../fonts/FarFromHomecomingRegular.svg#FarFromHomecomingRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    background-color: var(--my_primary_color);
    font-family: 'Montserrat', sans-serif;
}

#main_spiderman {
    background-image: url(../Illustration/img1.png);
    height: 870px;
    background-size: cover;
    background-position: center;
    background-color: var(--my_primary_color);
    font-family: 'Montserrat', sans-serif;
}

.title {
    padding-top: 25%;
    padding-bottom: 5%;
    font-family: 'Far From Homecoming';
    font-size: 500%;
}

.white_btn {
    color: #b11313;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 25px;
    width: 200px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.button_spidermen {
    color: var(--my_primary_color);
}

.button_spidermen_outline {
    color: white;
}

.transparent_btn {
    border-color: white;
    border-style: solid;
    width: 200px;
    height: 60px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.flex-container {
    width: 75%;
    min-height: 300px;
    justify-content: center;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    /* Standard syntax */
}

.flex-container div {
    -webkit-flex: 1;
    /* Safari */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* Standard syntax */
}

.caption {
    text-align: justify;
}

.item1 p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue_section {
    background-color: var(--my_main_color);
    width: 100%;
}

.formulaire_à_remplir p {
    text-align: center;
}

input[type=text],
input[type=email] {
    border: 1px solid black;
    width: 75%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.dark_spidey {
    background-color: var(--my_primary_color);
    padding-right: 0%;
}

.red_section input {
    color: white;
    border: 1px solid white;
    width: 75%;
    border-radius: 25px;
    background-color: var(--my_primary_color);
}

.dark_spidey>.image {
    align-content: right;
}

.spiderman_black {
    width: 100%;
}

#name,
#email {
    background-color: var(--my_primary_color);
    border-color: white;
    opacity: 50%;
}

footer {
    background-color: black;
    font-size: smaller;
    margin-bottom: 0px;
}

footer nav {
    justify-content: space-around;
    margin: auto;
}

li select {
    background-color: var(--my_primary_color);
    border-radius: 25%;
    width: 15%;
    border-color: var(--my_primary_color);
    color: white;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

.icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}